*.dylib
*.o
*.os
*.pyc
*.so
_build.*
.sconf_temp/
.sconsign.dblite
config.log
doc/html
doc/doxygen.conf
examples/refSources
python/lsst/meas/astrom/net/netLib.py
python/lsst/meas/astrom/net/netLib_wrap.cc
python/lsst/meas/astrom/sip/sipLib.py
python/lsst/meas/astrom/sip/sipLib_wrap.*
python/lsst/meas/astrom/*Lib.py
python/lsst/meas/astrom/*Lib_wrap.*
tests/.tests
tests/data
tests/testConvertCheby
tests/testlsf1d
tests/testlsf2d
*.cfgc
doc/html/
doc/*.tag
version.py
python/lsst/meas/astrom/astrometry_net.py
python/lsst/meas/astrom/astrometry_net_wrap.cc
bin/generateANetCache.py
