*.dylib
*.o
*.os
*.pyc
*.so
_build.*
.cache
.pytest_cache
.coverage
.sconf_temp/
.sconsign.dblite
config.log
doc/html
doc/doxygen.conf
doc/xml
examples/refSources
tests/.cache
tests/.tests
tests/testConvertCheby
tests/test_lsf1d
tests/test_lsf2d
pytest_session.txt
*.cfgc
doc/html/
doc/*.tag
version.py
bin/generateANetCache.py
